* {
    box-sizing: border-box;
  }

body {
    font-family: "Merriweather";
}


Header {

    background-color: rgb(11, 17, 68);
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
 

}

h1 {
    text-align: center;
    
    font-size: 25px;

}

label.info1 {
    
    text-align: left;
    width: 400px;
    line-height: 26px;
    margin-bottom: 10px;
  }

  label.info2 {
 
    line-height: 30px;
    margin-bottom: 10px;
  }

p {

    text-align: center;
}

footer {

    text-align: center;
    font-style: italic;
    margin-top: 30px;
}

input[type=text], select, input[type=email], input[type=tel] {

    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(231, 230, 230);
    
}



.redfocus:focus {

    border:5px solid rgb(253, 0, 0);
}

::placeholder {

    color: black;
    font-style: italic;
}

fieldset {
    border:none;
    margin-top: 20px;
}

legend {

    text-align: left;
    font-size: 25px;
    margin-bottom: 10px;
}

form {

    max-width: 768px;
}

/* Classes */

.contact {
    display:flex;
    flex-direction: column;
    border-top:5px solid rgb(11, 17, 68);
    margin-top: 5px;
    border-bottom:5px solid rgb(11, 17, 68);

}

.headline {

    border-bottom: 10px solid rgb(11, 17, 68);
    
}

.select1, .select2, .select3 {

margin-bottom: 25px;

}

button {
    padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: rgb(11, 17, 68);
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid rgb(11, 17, 68);
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
  
  
}

/* ID's */

#other {

    background-color: rgb(231, 230, 230);
    width: 100%;
    height: 130px;
}



/* Media Queries */

@media screen and (min-width:768px) {
    
    .box1,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6
     {
       
  display:inline-flex;
  width: 100%;
 

    }
   
  .box2 {

    display:inline-flex;
    width:75%;
    

  }
.container {
    display: flex;
  flex-direction: column;
}

.boxalign {
    
    margin-left: 52px;
}



}